* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.header {
    text-align: center;
    padding: 30px;
}
.row {
    display: flex;
    flex-wrap: wrap;

}
.column {
    flex: 25%;
    max-width: 25%;
}
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    transform: scale(0.95);
    transition: .3s ease-in-out;
}
.column img:hover {
    transform: scale(.98);
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}
